@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --header-height: 3.5rem;

    /*colors, hsl*/
    --first-color: hsl(2,100%, 61%);
    --first-color-alt: hsl(2, 89%, 53%);
    --title-color: hsl(233, 20%, 15%);
    --text-colour: hsl(233, 4%, 35%);
    --body-colour: hsl(2, 100%, 97%);

    /*font and typography*/
    --body-font: "Open Sans", sans-serif ;
    --second-font: "Lemon", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem; 
}

  /*responsive typography*/
@media screen and (min-width: 1024px){
    :root{
        --biggest-font-size: 3.5rem;
        --normal-font-size: 1rem;
    }   
}

  /*base*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-colour);
    color: var(--text-colour);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/*reusable css classes*/
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.main{
    overflow: hidden; /*for the animations*/
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}